#container {
    display: grid;
    /* grid-template-rows: 1fr 6fr 1fr; */
    grid-template-columns: 1fr 6fr;
}

#header {
    background: red;
    grid-row: 1;
    grid-column-end: 2;
}

#sidebar {
    background: blue;
    grid-row: 1;
    grid-column-end: 2;
}

#main-content {
    background: green;
    grid-row: 1;
    grid-column-end: 2;
}