:root {
	--left-size: 50vw;
}

@media screen and (max-width: 640px) {
	:root {
		--left-size: 0;
	}
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1,
h2,
h3 {
	font-family: Quattrocento, sans-serif;
	font-weight: 300;
	margin: 0
}

h1 {
	margin-bottom: 16px
}

h3 {
	text-transform: uppercase
}

#app {
	font-family: Merriweather Sans, sans-serif
}

#interactive-image {
	width: var(--left-size);
	height: 100%;
	position: fixed;
	/* background-color: #8a2be2; */
	/* background-color: #fff; */
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-property: background-color,
		-webkit-transform;
	transition-property: background-color,
		-webkit-transform;
	transition-property: background-color,
		transform;
	transition-property: background-color,
		transform,
		-webkit-transform
}

#main {
	padding-left: var(--left-size);
}

.section-icon {
	height: 2em;
	vertical-align: middle;
	width: 2em
}

.section-icon .stroke {
	fill: none;
	stroke: currentColor;
	stroke-width: 8;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10
}

.section-icon .fill {
	fill: currentColor
}

.section {
	background: #aaa;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 60vh;
	opacity: .2;
	padding: 10vh 32px 10vh;
	position: relative;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-property: background, opacity, -webkit-transform;
	transition-property: background, opacity, -webkit-transform;
	transition-property: background, opacity, transform;
	transition-property: background, opacity, transform, -webkit-transform
}

.section.current {
	opacity: 1
}

.section:first-child,
.section:last-child {
	min-height: 80vh
}

.section .content,
.section .title {
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s
}

.section .title {
	-webkit-transform: translateX(20px);
	transform: translateX(20px)
}

.section .content {
	-webkit-transform: translateX(10px);
	transform: translateX(10px)
}

.section.current .content,
.section.current .title {
	-webkit-transform: translateX(0);
	transform: translateX(0)
}

.welcome {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}